* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  background-color: #1d2123;
}

.bg-primary {
  background-color: #1a1e1f;
}

.active {
  color: #facd66;
  opacity: 100% !important;
}

.container {
  padding-bottom: 30px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #facd66;
  border-radius: 10px;
  height: 0.5rem;
}

input[type="range"]::-moz-range-track {
  background: #facd66;
  border-radius: 10px;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px #fff solid;
  background-color: #facd66;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.92));
  stroke-width: 1px;
  stroke: #fff;
  margin-top: -3px;
}

.wrapper-sidebar {
  width: 70px;
  height: 100vh;
}

.wrapper-sidebar .sidebar-sticky {
  position: sticky;
  top: 0;
}

.wrapper-sidebar .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper-sidebar .sidebar .sidebar-logo {
  padding: 40px;
}

.wrapper-sidebar .sidebar .sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-size: 26px;
  padding: 25px 10px;
  border-radius: 50px;
  min-height: 150px;
  color: #efeee040;
}

.wrapper-sidebar .sidebar .sidebar-menu a {
  opacity: 50%;
}

.wrapper-sidebar .sidebar .sidebar-menu a:hover {
  opacity: 100%;
}

.wrapper-main {
  width: 100%;
  height: 100vh;
  padding: 50px 20px;
}

.wrapper-main .container .search {
  display: inline-block;
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 20px;
}

.wrapper-main .container .search i {
  position: relative;
  top: 3px;
  color: #fff;
  opacity: 25%;
  font-size: 24px;
  margin-right: 10px;
}

.wrapper-main .container .search input {
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  width: 300px;
}

.wrapper-main .container .search input:focus {
  outline: none;
}

.wrapper-list-song .list-song-title {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 24px;
}

.wrapper-list-song .list-song-title a {
  font-size: 16px;
  opacity: 50%;
}

.wrapper-list-song .list-song-title a:hover {
  opacity: 100%;
}

.wrapper-list-song .list-song {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0px;
}

.wrapper-list-song .list-song .list-song-item {
  margin-right: 25px;
  margin-bottom: 20px;
  width: 200px;
  height: 280px;
}

.wrapper-list-song .list-song .list-song-item .list-song-item-thumbnail {
  position: relative;
  width: 100%;
  height: 75%;
}

.wrapper-list-song .list-song .list-song-item .list-song-item-thumbnail img {
  position: absolute;
  top: 0;
  z-index: -1;
  border-radius: 20px;
}

.wrapper-list-song
  .list-song
  .list-song-item
  .list-song-item-thumbnail
  .list-song-item-thumbnail-button {
  width: 100%;
  height: 100%;
  font-size: 32px;
  color: #fff;
  border-radius: 20px;
  opacity: 0;
  transition: 100ms ease;
}

.wrapper-list-song
  .list-song
  .list-song-item
  .list-song-item-thumbnail
  .list-song-item-thumbnail-button
  a {
  position: absolute;
  right: 15px;
  bottom: 20px;
  transform: translateY(10px);
  transition: 500ms ease;
}

.wrapper-list-song
  .list-song
  .list-song-item
  .list-song-item-thumbnail
  .list-song-item-thumbnail-button
  a:hover {
  opacity: 0.8;
}

.wrapper-list-song
  .list-song
  .list-song-item
  .list-song-item-thumbnail
  .list-song-item-thumbnail-button:hover
  a {
  transform: translateY(0px);
}

.wrapper-list-song
  .list-song
  .list-song-item
  .list-song-item-thumbnail
  .list-song-item-thumbnail-button:hover {
  opacity: 1;
  background-color: rgba(26, 30, 31, 0.5);
  transform: translateY(0px);
}

.wrapper-list-song .list-song .list-song-item .list-song-item-text {
  color: #fff;
  margin-top: 5px;
  font-weight: 300;
}

.wrapper-list-song .list-song .list-song-item .list-song-item-text a:hover {
  text-decoration: underline;
}

.wrapper-list-song
  .list-song
  .list-song-item
  .list-song-item-text
  .list-song-item-text-artist {
  opacity: 50%;
}

.wrapper-player-song {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  backdrop-filter: blur(10px);
}

.wrapper-player-song .player {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.wrapper-player-song .player:before {
  box-shadow: 0px -25px 100px 0px rgba(16, 16, 16, 0.51);
  filter: blur(10px);
}

.wrapper-player-song .player .play-song {
  display: flex;
  width: 150px;
  gap: 15px;
  align-items: center;
}

.wrapper-player-song .player .play-song img {
  border-radius: 20px;
}

.wrapper-player-song .player .play-song-text {
  margin-top: -15px;
}

.wrapper-player-song .player .play-song-text a {
  display: block;
  font-size: 12px;
  color: #fff;
}

.wrapper-player-song .player .play-song-text a:hover {
  text-decoration: underline;
}

.wrapper-player-song .player .play-song-text a:first-child {
  font-weight: 700;
  font-size: 16px;
}

.wrapper-player-song .player .player-button {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}

.wrapper-player-song .player .player-button .player-button-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  height: 50%;
}

.wrapper-player-song .player .player-button .player-button-item i {
  color: #fff;
}

.wrapper-player-song
  .player
  .player-button
  .player-button-item
  button:nth-child(3)
  i {
  font-size: 34px;
  color: #facd66;
}

.wrapper-player-song .player .player-button .player-button-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.wrapper-player-song .player .player-button input {
  margin-top: 10px;
}

.wrapper-player-song .player .player-button-volume i {
  color: #fff;
}
